* {
    padding:0;
    margin:0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background 
{
    background-image: url("../../img/1x/foreground4.png"), url("../../img/1x/background.png");
    background-position: center, center;
    background-size: cover, cover;
    z-index:-1;  
}