$navbar_bg: #121233;

$custom_active_link: #EA7DE4;
$custom_link: #E5C6DF;
$custom_disabled_link: #9E869B;
$navbar_brand_color: #fff;

.bg-light {
    background-color: $navbar_bg !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: $custom_active_link;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: $custom_disabled_link;
}

.navbar-light .navbar-nav .nav-link {
    color: $custom_link;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $custom_active_link;
}

.navbar-light .navbar-brand {
    color: $navbar_brand_color;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}